**/*.egg-info
**/.git
**/.gitignore
**/.mypy_cache
**/.ninja_deps
**/.ninja_log
**/.nox
**/.pdm-build
**/.pdm-python
**/.pytest_cache
**/.venv*
**/__pycache__
.coverage
.direnv
.dockerignore
.envrc
/_*
Dockerfile*
